<div class="wy-sec">
  <div class="u-title wy-sec-wrap clearfix">
    <h3 class="wy-sec-tit">
      <span class="f-ff2">
        <!-- 再生ランキング -->
        {{ lanRes.C00023 }}
      </span>
    </h3>
    <span class="sub s-fc3">
      <!-- 累計再生数 -->
      {{ lanRes.C00024 }}{{ listenSongs }}
    </span>
    <div class="more tab-type">
      <span [class.active]="recordType === 1" (click)="onChangeType.emit(1)">
        <!-- 直近1週間 -->
        {{ lanRes.C00025 }}
      </span>
      <nz-divider nzType="vertical"></nz-divider>
      <span [class.active]="recordType === 0" (click)="onChangeType.emit(0)">
        <!-- 全期間 -->
        {{ lanRes.C00026 }}
      </span>
    </div>
  </div>
  <nz-table
    class="wy-table"
    #basicTable
    [nzData]="records"
    [nzFrontPagination]="false"
    nzBordered
    [nzNoResult]="lanRes.C00027"
  >
    <!-- 音楽がありません！ -->
    <thead>
      <tr>
        <th nzWidth="80px"></th>
        <th>
          <!-- タイトル -->
          {{ lanRes.C00028 }}
        </th>
        <th nzWidth="120px">
          <!-- 時間 -->
          {{ lanRes.C00029 }}
        </th>
        <th nzWidth="80px">
          <!-- アーティスト -->
          {{ lanRes.C00030 }}
        </th>
        <th>
          <!-- 再生回数 -->
          {{ lanRes.C00031 }}
        </th>
      </tr>
    </thead>
    <tbody>
      @for (item of basicTable.data; track $index; let i = $index) {
        <tr>
          <td class="first-col">
            <span>{{ i + 1 }}</span>
            <!-- 再生 -->
            <i
              class="ico play-song"
              [title]="lanRes.C00032"
              [class.current]="currentIndex === i"
              (click)="onAddSong.emit([item.song, true])"
            ></i>
          </td>
          <td class="song-name">
            <a [routerLink]="['/songInfo', item.song.id]">{{ item.song.name }}</a>
          </td>
          <td class="time-col">
            <span>{{ item.song.dt / 1000 | formatTime }}</span>
            <p class="icons">
              <!-- 追加 -->
              <i
                class="ico add"
                [title]="lanRes.C00033"
                (click)="onAddSong.emit([item.song, false])"
              ></i>
              <!-- お気に入り -->
              <i class="ico like" [title]="lanRes.C00034" (click)="onLikeSong.emit(item.song.id)"></i>
              <!-- シェア -->
              <i class="ico share" [title]="lanRes.C00035" (click)="onShareSong.emit(item.song)"></i>
            </p>
          </td>
          <td>
            @for (singer of item.song.ar; track singer.id; let isLast = $last) {
              <a [routerLink]="['/singer', singer.id]">{{ singer.name }}</a>
              <em [hidden]="isLast">/</em>
            }
          </td>
          <td>{{ item.playCount }}</td>
        </tr>
      }
    </tbody>
  </nz-table>
</div>
