<div class="login-phone modal-content">
  <div class="modal-wrap">
    <form nz-form class="login-form" [formGroup]="formModel" (ngSubmit)="onSubmit()">
      <nz-form-item>
        <!-- 正しい電話番号を入力してください -->
        <nz-form-control nzHasFeedback [nzErrorTip]="lanRes.C00064">
          <nz-input-group nzPrefixIcon="mobile">
            <!-- 電話番号を入力してください -->
            <input type="tel" nz-input [placeholder]="lanRes.C00065" formControlName="phone" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <!-- 正しいパスワードを入力してください -->
        <nz-form-control nzHasFeedback [nzErrorTip]="lanRes.C00054">
          <nz-input-group nzPrefixIcon="lock">
            <!-- パスワードを入力してください -->
            <input
              type="password"
              nz-input
              [placeholder]="lanRes.C00055"
              formControlName="password"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzHasFeedback>
          <div class="tools">
            <label nz-checkbox class="remember" formControlName="remember">
              <span>
                <!-- パスワードを記憶する -->
                {{ lanRes.C00056 }}
              </span>
            </label>
          </div>
          <button
            nz-button
            class="login-form-button"
            [disabled]="!formModel.valid"
            nzType="primary"
            nzBolck
          >
            <!-- ログイン -->
            {{ lanRes.C00004 }}
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>

<div class="m-footer clearfix">
  <a (click)="onChangeModalType.emit('default')"
    >&lt;
    <!-- 他のログイン方法 -->
    {{ lanRes.C00057 }}
  </a>
  <a (click)="onChangeModalType.emit('register')">
    <!-- アカウントをお持ちでない方？登録する -->
    {{ lanRes.C00058 }}
  </a>
</div>
