<div
  class="m-layer"
  #modalContainer
  [@showHide]="showModal"
  cdkDrag
  cdkDragBoundary=".cdk-overlay-container"
>
  <div class="zbar" cdkDragHandle>
    <div class="zttl f-thide">{{ modalTitle[currentModalType] }}</div>
  </div>
  @switch (currentModalType) {
    @case ('loginByPhone') {
      <ng-content select="[name=phoneLogin]"></ng-content>
    }
    @case ('loginByEmail') {
      <ng-content select="[name=emailLogin]"></ng-content>
    }
    @case ('register') {
      <ng-content select="[name=register]"></ng-content>
    }
    @case ('like') {
      <ng-content select="[name=like]"></ng-content>
    }
    @case ('share') {
      <ng-content select="[name=share]"></ng-content>
    }
    @default {
      <ng-content></ng-content>
    }
  }
  <div class="zcls" title="Close" (click)="hide()"></div>
  @if (showSpin) {
    <nz-spin nzTip="loading..." class="spin"></nz-spin>
  }
</div>
