<div class="member">
  @if (!user()) {
    <div class="login">
      <p>
        <!-- ログインして、無制限の音楽をお楽しみください -->
        {{ lanRes.C00014 }}
      </p>
      <button nz-button class="btn" (click)="openModal.emit()">
        <!-- ユーザーログイン -->
        {{ lanRes.C00015 }}
      </button>
    </div>
  } @else {
    <div class="n-myinfo">
      <div class="f-cb clearfix">
        <div class="head">
          <img appImgDefault [src]="user().profile.avatarUrl" [alt]="user().profile.nickname" />
        </div>
        <div class="info">
          <h4>
            <a class="nm ellipsis">{{ user().profile.nickname }}</a>
          </h4>
          <p class="lv">
            <span class="u-lv u-icn2"> {{ user().level }}<i class="lvright u-icn2"></i> </span>
          </p>
          <div
            class="btnwrap f-pr"
            nz-tooltip
            [nzTooltipTitle]="tipTitle"
            nzPlacement="bottom"
            [nzTooltipVisible]="showTip"
          >
            <button nz-button nzType="primary" nzBlock (click)="onSignin()">
              <!-- チェックイン -->
              {{ lanRes.C00016 }}
            </button>
          </div>
        </div>
      </div>

      <ul class="dny clearfix">
        <li class="fst">
          <strong class="ellipsis">{{ user().profile.eventCount }}</strong>
          <span>
            <!-- アクティビティ -->
            {{ lanRes.C00017 }}
          </span>
        </li>
        <li>
          <strong class="ellipsis">{{ user().profile.follows }}</strong>
          <span>
            <!-- フォロー -->
            {{ lanRes.C00018 }}
          </span>
        </li>
        <li class="lst">
          <strong class="ellipsis">{{ user().profile.followeds }}</strong>
          <span>
            <!-- フォロワー -->
            {{ lanRes.C00019 }}
          </span>
        </li>
      </ul>
    </div>
  }
</div>
