<div class="singer-detail wrap feature-wrap clearfix">
  <div class="dt-left">
    <div class="left-wrap">
      <div class="n-artist">
        <div class="names clearfix">
          <h2 class="ellipsis">{{ singerDetail.artist.name }}</h2>
          <h3 class="ellipsis">{{ singerDetail.artist.alias.join(';') }}</h3>
        </div>
        <div class="cover-img">
          <img
            appImgDefault
            class="full-height"
            [src]="singerDetail.artist.picUrl"
            [alt]="singerDetail.artist.name"
          />
        </div>
        <button
          class="btn btn-like"
          [class.btn-liked]="hasLiked"
          (click)="onLikeSinger(singerDetail.artist.id.toString())"
        ></button>
      </div>

      <div class="top-50">
        <div class="btns clearfix">
          <div class="ant-btn-group btn">
            <button
              class="play"
              nz-button
              nzType="primary"
              (click)="onAddSongs(singerDetail.hotSongs, true)"
            >
              <i nz-icon nzType="play-circle" nzTheme="outline"></i>
              <!-- 再生 -->
              {{ lanRes.C00032 }}
            </button>
            <button
              class="add"
              nz-button
              nzType="primary"
              (click)="onAddSongs(singerDetail.hotSongs)"
            >
              +
            </button>
          </div>
          <button class="btn like" nz-button (click)="onLikeSongs(singerDetail.hotSongs)">
            <span>
              <!-- お気に入り -->
              {{ lanRes.C00034 }} </span
            >{{ singerDetail.hotSongs.length }}
          </button>
        </div>
        <!-- 音楽がありません！ -->
        <nz-table
          class="wy-table"
          #basicTable
          [nzData]="singerDetail.hotSongs"
          [nzFrontPagination]="false"
          nzBordered
          [nzNoResult]="lanRes.C00027"
        >
          <thead>
            <tr>
              <th nzWidth="80px"></th>
              <th>
                <!-- タイトル -->
                {{ lanRes.C00028 }}
              </th>
              <th nzWidth="120px">
                <!-- 時間 -->
                {{ lanRes.C00029 }}
              </th>
              <th>
                <!-- アルバム -->
                {{ lanRes.C00041 }}
              </th>
            </tr>
          </thead>
          <tbody>
            @for (item of basicTable.data; track item.id; let i = $index) {
              <tr>
                <td class="first-col">
                  <span>{{ i + 1 }}</span>
                  <!-- 再生 -->
                  <i
                    class="ico play-song"
                    [title]="lanRes.C00032"
                    [class.current]="currentIndex === i"
                    (click)="onAddSong(item, true)"
                  ></i>
                </td>
                <td class="song-name">
                  <a [routerLink]="['/songInfo', item.id]">{{ item.name }}</a>
                </td>
                <td class="time-col">
                  <span>{{ item.dt / 1000 | formatTime }}</span>
                  <p class="icons">
                    <!-- 追加 -->
                    <i class="ico add" [title]="lanRes.C00033" (click)="onAddSong(item)"></i>
                    <!-- お気に入り -->
                    <i class="ico like" [title]="lanRes.C00034" (click)="onLikeSong(item.id)"></i>
                    <!-- シェア -->
                    <i class="ico share" [title]="lanRes.C00035" (click)="onShareSong(item)"></i>
                  </p>
                </td>
                <td>{{ item.al.name }}</td>
              </tr>
            }
          </tbody>
        </nz-table>
      </div>
    </div>
  </div>

  <div class="dt-right">
    <div class="right-wrap">
      <h3>
        <!-- 似たアーティスト -->
        {{ lanRes.C00044 }}
      </h3>
      <ul class="clearfix">
        @for (item of simiSingers; track item.id) {
          <li [routerLink]="['/singer', item.id]">
            <div class="pic">
              <img appImgDefault [src]="item.picUrl" [alt]="item.name" />
            </div>
            <p class="ellipsis">{{ item.name }}</p>
          </li>
        }
      </ul>
    </div>
  </div>
</div>
