<div class="like">
  @if (!creating) {
    <div class="sheet-list">
      <div class="header" (click)="creating = true">
        <i nz-icon nzType="folder-add" nzTheme="outline"> </i>
        <span>
          <!-- 新しいプレイリストを作成 -->
          {{ lanRes.C00059 }}
        </span>
      </div>
      <nz-list [nzDataSource]="mySheets()" [nzRenderItem]="itemTpl">
        <ng-template #itemTpl let-item>
          <nz-list-item class="list-item" (click)="onLike(item.id.toString())">
            <nz-list-item-meta
              [nzTooltipTitle]="nzTitle"
              [nzDescription]="item.trackCount"
              [nzAvatar]="item.coverImgUrl"
            >
              <ng-template #nzTitle>
                <span>{{ item.name }}</span>
              </ng-template>
            </nz-list-item-meta>
          </nz-list-item>
        </ng-template>
      </nz-list>
    </div>
  } @else {
    <div class="create-sheet">
      <form nz-form [formGroup]="formModel" (ngSubmit)="onSubmit()">
        <nz-form-item>
          <nz-form-label nzSpan="5">
            <!-- プレイリスト名: -->
            {{ lanRes.C00060 }}
          </nz-form-label>
          <!-- プレイリスト名を入力してください -->
          <nz-form-control nzHasFeedback nzSpan="12" [nzErrorTip]="lanRes.C00061">
            <!-- プレイリスト名 -->
            <input nz-input [placeholder]="lanRes.C00060" formControlName="sheetName" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <div class="btns">
            <button nz-button class="btn-back" (click)="creating = false">
              <!-- 戻る -->
              {{ lanRes.C00062 }}
            </button>
            <button nz-button nzType="primary" [disabled]="!formModel.valid">
              <!-- 作成 -->
              {{ lanRes.C00063 }}
            </button>
          </div>
        </nz-form-item>
      </form>
    </div>
  }
</div>
